@font-face {
  font-family: "kanit";
  font-style: normal;
  font-weight: normal;
  src: url(Kanit-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "kanit";
  font-style: normal;
  font-weight: 600;
  src: url(Kanit-SemiBold.ttf) format("truetype");
}
